body {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.renderImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 10;
  pointer-events: none;
  object-fit: contain;
}